* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #030928;
}

.title {
	margin-bottom: 1.5rem;
	font-size: 2rem;
	color: white;
	font-weight: 700;
}

.text {
	line-height: 1.5;
	color: darkgrey;
	font-size: 1rem;
}

html {
	font-size: 20px;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1.8rem;
}

.logo {
	display: flex;
	align-items: center;
	font-weight: 700;
}

.logo__icon img {
	height: 2.2rem;
}

.logo__title {
	font-size: 1.5rem;
}

.text-color_white {
	color: white;
}

.highlight {
	background-image: linear-gradient(to left, #22d3ee, #0ea5e9);
	color: transparent;
	background-clip: text;
	font-weight: 700;
}

.nav__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.75em 0;
}

.nav__links {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 2em;
	font-size: 1.2em;
}

.banner__inner {
	margin: 4.5rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner__description {
	font-size: 1.3em;
	max-width: 713px;
}

.banner__image {
	max-width: 300px;
	max-height: 300px;
	min-width: 250px;
}

.banner__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner__media {
	display: flex;
	gap: 1.6rem;
	margin: 1.6rem 7px;
}

.banner__media-item {
	max-width: 3.1rem;
	max-height: 3.1rem;
}

.banner__media-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.recent-projects__inner {
	margin: 4.5rem 0;
}

.recent-projects__title {
	margin-top: 4.15rem;
}

.project-card {
	background-color: #1e293b;
	padding: 1.7rem 0.5rem;
	border-radius: 1rem;
	margin-bottom: 1.2rem;
	margin-top: 1.2rem;
	min-height: 300px;
	display: flex;
	align-items: center;
}

.project-card__inner {
	display: flex;
	align-items: center;
}

.project-card__image {
	width: 10rem;
	margin-inline: 2rem;
	flex-shrink: 0;
}

.project-card__img {
	width: 100%;
	height: 100%;
}

.project-card__right {
	max-width: 42rem;
}

.project-card__title {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.project-card__type {
	font-size: 0.7rem;
}

.project-card__title {
	font-size: 1.5rem;
}

.project-card__text {
	min-height: 65px;
}

.label {
	padding: 0.6rem;
	border-radius: 10px;
}

.label_green {
	background-image: linear-gradient(to bottom, #075a3e, #698635);
}

.label_green > .label__text {
	background-image: linear-gradient(to bottom, #14dd9a, #c9ff6b);
	background-clip: text;
	color: transparent;
}

.label_orange {
	background-image: linear-gradient(to bottom, #6d1313, #5f2f0c);
}

.label_orange > .label__text {
	background-image: linear-gradient(to bottom, #f22b2b, #ff7919);
	background-clip: text;
	color: transparent;
}

.label_purple {
	background-image: linear-gradient(to bottom, #3b1479, #1b4476);
}

.label_purple > .label__text {
	background-image: linear-gradient(to bottom, #ab7bfd, #85bafb);
	background-clip: text;
	color: transparent;
}

.label__text {
	font-weight: 800;
	font-size: 0.9rem;
}

.latest-posts__upper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.view-all-button__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.view-all-button__text {
	font-size: 1rem;
}

.latest-posts__inner {
	margin-bottom: 4.5rem;
}

.latest-posts__title {
	margin-bottom: 0;
}

.latest-posts__upper {
	margin-bottom: 1.5rem;
}

.view-all-button__icon {
	margin-left: 0.7rem;
	width: 2rem;
}

.latest-posts__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-inline: auto;
	margin: 0 auto;
	justify-items: center;
	gap: 20px;
}

.post-card {
	border-radius: 2rem;
	background-color: #1e293b;
	overflow: hidden;
	max-width: 450px;
}

.post-card__image {
	height: 15rem;
	background-position: no-repeat;
	background-size: cover;
}

.post-card__content {
	margin-bottom: 1.5rem;
	margin-inline: 2rem;
	margin-top: 1.2rem;
}

.post-card__title {
	font-size: 1.2rem;
	margin: 0.5rem auto;
	text-align: center;
}

.post-card__date {
	font-size: 1rem;
	text-align: center;
	margin: 0.5rem auto;
	color: darkgrey;
}

.post-card__text {
	font-size: 1rem;
	text-align: center;
	margin: 1rem auto;
}

.subscribe__inner {
	display: grid;
	grid-template-areas:
		'title form'
		'text form';
	grid-template-columns: 1fr 1fr;
	align-items: center;
	column-gap: 1.5rem;
	row-gap: 1rem;
	align-content: center;
	margin-bottom: 3.5rem;
}

.subscribe__form-wrapper {
	grid-area: form;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.subscribe__text {
	grid-area: text;
}

.subscribe__title {
	max-width: 589px;
	grid-area: title;
	margin-bottom: 0;
}

.subscribe-form__input {
	width: 100%;
	padding-left: 1.5rem;
	height: 3.5rem;
	border-radius: 1.5rem;
	border: none;
	background-color: #1e293b;
}

.subscribe-form__input,
.subscribe-form__input::-webkit-input-placeholder {
	font-size: 1rem;
	line-height: 3;
}

.subscribe-form__input:focus {
	outline: 3px #1aadc4 solid;
}

.subscribe-form__button {
	font-size: 1rem;
	font-weight: 700;
	padding: 0.5rem 1.8rem;
	border-radius: 1.5rem;
	position: absolute;
	right: 1rem;

	border: none;
	cursor: pointer;
	background-image: linear-gradient(to left, #22d3ee, #0ea5e9);
	color: #1e293b;
}

.footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2.5rem 0;
}

.footer {
	border-top: 2px solid lightgray;
	margin-top: 2.5rem;
}

.footer__copyright {
	color: lightgray;
}

.footer__media {
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
	list-style: none;
}

.footer__media-icon {
	fill: lightgray;
	width: 2rem;
}

@media screen and (width <= 1024px) {
	html {
		font-size: 18px;
	}
}

@media screen and (width <= 790px) {
	html {
		font-size: 16px;
	}

	.banner__inner {
		flex-direction: column-reverse;
	}

	.banner__image {
		max-width: 200px;
	}

	.banner__title,
	.banner__text {
		text-align: center;
	}

	.banner__media {
		justify-content: center;
	}

	.project-card__inner {
		flex-direction: column;
		justify-content: center;
	}

	.project-card__right {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.project-card__text {
		margin-left: 2rem;
		margin-right: 2rem;
		text-align: center;
	}

	.latest-posts__cards {
		grid-template-columns: 1fr 1fr;
	}

	.post-card {
		max-width: 350px;
	}

	.subscribe__inner {
		display: grid;
		grid-template-areas:
			'title'
			'text'
			'form';
		grid-template-columns: 1fr;
	}

	.subscribe__form-wrapper {
		justify-self: center;
		width: 100%;
	}

	.subscribe-form__input {
		width: 100%;
	}

	.footer__inner {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin: 1.5rem 0;
	}

	.footer__copyright {
		text-align: center;
	}
}

@media screen and (width <= 600px) {
	html {
		font-size: 14px;
	}
	.nav__links {
		gap: 1rem;
	}

	.latest-posts__cards {
		grid-template-columns: 1fr;
	}
}

@media screen and (width <= 540px) {

	.nav__links {
		gap: 1rem;
    font-size: 1rem;
	}


}

@media screen and (width <= 430px) {

  html {
    font-size: 12px;
  }

	.banner__image {
		max-width: 150px;
	}

	.post-card {
		max-width: 270px;
	}
}
